* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}


#container {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
}

.product img {
    width: 370px;
    margin-left: 20px;
    
}

.product {
    float: left;
    width: calc (100% / 3);
    text-align: center;
    position: relative;
    

}

/* Immagini */

.discount {
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: red;
    position: absolute;
    bottom: 18px;
    left: 20px;
}

.sostenibilita {
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: darkgreen;
    position: absolute;
    bottom: 18px;
    left: 82px;
}

.heart {
    background-color: white;
    padding: 10px;
    font-size: 17px;
    position: absolute;
    top: 18px;
    right: 0px;
}

.prodotto1 {
    padding: 10px;
    font-size: 16px;
    position: absolute;
    bottom: 345px;
    left: 86px;
}

.prodotto2{
    padding: 10px;
    font-size: 16px;
    position: absolute;
    bottom: 345px;
    left: 473px;
}

.prodotto3 {
    padding: 10px;
    font-size: 16px;
    position: absolute;
    bottom: 345px;
    left: 865px;
}

.redprize {
    color: red;
}

#linea2 {
    margin-top: 70px;
}

.prodotto4 {
    padding: 10px;
    font-size: 16px;
    position: absolute;
    bottom: -270px;
    left: 86px;
}

.prodotto5{
    padding: 10px;
    font-size: 16px;
    position: absolute;
    bottom: -270px;
    left: 473px;
}

.prodotto6 {
    padding: 10px;
    font-size: 16px;
    position: absolute;
    bottom: -270px;
    left: 865px;
}

#sostenibilita2 {
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: darkgreen;
    position: absolute;
    bottom: 18px;
    left: 21px;
}